<%- include("templates/head2", {title: 'Inicio'}) %> 
    <div class="background-image">
    <div class="contenedor"> 
            <h1><%= title %></h1>
            <h3>¿Te gustaría conocer cuáles son las mejores cámaras y objetivos para tí?</h2>
            <a href="/preguntas">
                <button class="btn btn-success">Iniciar!</button>
            </a>
        
    </div>
    </div>

<%- include("templates/footer") %> 